
/**
 * GENERAL REUSABLE STYLES
 */

body {
    font-family: 'Arial', sans-serif;
    font-size: 1.6rem;
}

h3 {
    font-size: 2rem;
    font-weight: 300;
}

a:link,
a:visited { text-decoration: none; }

.center-vert {
    top: 50%;
    transform: translateY(-50%);
}

.bold-text { font-weight: bold; }
.fake-link:hover { cursor: pointer; }
.hover-underline:hover { text-decoration: underline; }

/**
 * HEADER
 */

.header {
    border-bottom: .1rem solid #E9ECEF;
    display: flex;
    /* Split search-bar and search-types into columns. */
    flex-direction: column;
    width: 100%;
}

.header__top {
    display: flex;
    padding: 2.25rem 2.75rem 1rem 2.4rem;
}

.google-logo { max-width: 9rem; }

.google-logo__image {
    /* Relative positioning for vertical centering. */
    position: relative;
    width: 100%;
}

.search-bar {
    padding-left: 4.5rem;
    position: relative;
    width: 60%;
}

.search-bar__text {
    border: .1rem solid #DEE2E6;
    border-radius: 3rem;
    display: inline-block;
    padding: 1.3rem 2rem;
    /* Input text occupies entire search-bar. */
    width: 100%;
}

.search-bar__text:hover {
    box-shadow:
        .15rem .15rem .5rem rgba(0, 0, 0, .1),
        -.15rem -.05rem .5rem rgba(0, 0, 0, .1);
}

.search-bar__text:focus { outline: none; }

.search-bar__divider {
    /* Divider in search bar represented by border. */
    border-left: .15rem solid #DEE2E6;
    height: 60%;
    position: absolute;
    right: 8.75rem;
}

.search-bar__icon {
    position: absolute;
    width: 3%;
}

/* Clear 'x' icon */
.search-bar__icon--1 {
    /* Filter converts image colour to #878F97. */
    filter:
        invert(61%)
        sepia(13%)
        saturate(243%)
        hue-rotate(169deg)
        brightness(90%)
        contrast(86%);
    right: 10rem;
}

/* Microphone icon */
.search-bar__icon--2 { right: 5.5rem; }

/* Search icon */
.search-bar__icon--3 {
    /* Filter converts image colour to #4C8BF5. */
    filter:
        invert(52%)
        sepia(7%)
        saturate(7156%)
        hue-rotate(189deg)
        brightness(98%)
        contrast(95%);
    right: 1.75rem;
}

.personal {
    align-items: center;
    display: flex;
    /* Email and apps-logo use remaining space of top portion of header. */
    flex-grow: 1;
    justify-content: flex-end;
}

.personal__logo-box {
    border-radius: 50%;
    margin-right: 1rem;
    padding: .85rem;
    width: 10.5%;
}

.personal__logo-box:hover {
    background-color: rgba(60, 64, 67, .1);
}

.personal__logo {
    /* Logo image uses entire width of container. */
    display: block;
    /* Filter converts image colour to #555C62. */
    filter:
        invert(35%)
        sepia(2%)
        saturate(2662%)
        hue-rotate(166deg)
        brightness(91%)
        contrast(79%);
    width: 100%;
}

.personal__initial {
    background-color: #7C949C;
    /* Colour of border gets changed in hover state. */
    border: .35rem solid #FFF;
    border-radius: 50%;
    color: #FFF;
    display: inline-block;
    font-size: 1.5rem;
    padding: .75rem 1.1rem;
}

.personal__initial:hover {
    border: .35rem solid #E9ECEF;
}

/* All text in this div inherits font-size property. */
.header__bottom { font-size: 1.3rem; }

.search-options {
    display: flex;
    /* Creates space between search-types and settings. */
    justify-content: space-between;
    margin-left: 17rem;
    width: 53.2%;
}

.search-type__list { list-style: none; }

.search-type__item { display: inline-block; }

.search-type__link:link,
.search-type__link:visited {
    color: #5F666D;
    display: inline-block;
    padding: 1.25rem 1rem;
}

.search-type__link:active { color: #4C8BF5; }

.search-type__link--1:link,
.search-type__link--1:visited {
    border-bottom: .3rem solid #4C8BF5;
    color: #4C8BF5;
}

.search-type__icon {
    display: inline-block;
    /* Changes this image's colour to #5F666D. */
    filter:
        invert(39%)
        sepia(16%)
        saturate(242%)
        hue-rotate(169deg)
        brightness(94%)
        contrast(89%);
    margin-right: .5rem;
    /* Align image with bottom of neighbouring text. */
    vertical-align: bottom;
    width: 1.6rem;
}

.search-type__link:active .search-type__icon {
    /* Converts this image's colour to #4C8BF5. */
    filter:
        invert(47%)
        sepia(95%)
        saturate(1249%)
        hue-rotate(197deg)
        brightness(94%)
        contrast(105%);
}

/* Order matters here. This rule must go after .search-type__icon */
.search-type__icon--1 { filter: none; }

.search-custom__list { list-style: none; }

.search-custom__item { display: inline-block; }

.search-custom__button {
    /* Remove user-agent default background-color. */
    background-color: transparent;
    color: #5F666D;
}

.search-custom__button:focus { outline: none; }

.search-custom__button--1 { padding: 1.25rem 1rem; }

.search-custom__button--1:active { color: #4C8BF5; }

.search-custom__button--2 {
    /* Border colour changes in hover state. */
    border: .1rem solid #FFF;
    border-radius: .2rem;
    padding: .5rem 1rem;
}

.search-custom__button--2:hover {
    background-color: #F5F5F5;
    border: .1rem solid #C6C6C6;
}

.search-custom__button--2:active { color: #000; }

/**
 * MAIN BODY
 */

.main {
    font-size: 1.4rem;
    margin-bottom: 3rem;
}

/**
 * GENERAL RESULTS
 */

.results-container {
    margin-left: 18rem;
    width: 66.2rem;
}

.results-stats {
    color: #70757A;
    padding: 1.5rem 0;
}

/* Space between separate search query results. */
.result + .result { margin-top: 3rem; }

.result:first-of-type { margin-top: .5rem; }

.result-heading { margin-bottom: 1.5rem; }

.next-arrow-box {
    background-color: #FFF;
    /* Positioned relative to videos container. */
    position: absolute;
    right: -1.8rem;
    width: 6%;
}

.next-arrow {
    border: .2rem solid #DDE3E4;
    border-radius: 50%;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, .2);
    display: block;
    padding: .75rem;
    /* Image fills provided space by container. */
    width: 100%;
}

.external-link:link { color: #1A0DAB; }

.external-link:visited { color: #609; }

/**
 * SEARCH RESULTS
 */

.search-result { width: 92%; }

.search-result__link { display: inline; }

.search-result__address {
    color: #000;
    display: inline-block;
    font-style: normal;
    padding-bottom: .75rem;
}

.search-result__address-info { color: #5F666D; }

.search-result__title {
    color: #1A0DAB;
    display: inline-block;
    margin-bottom: .5rem;
}

.search-result__link:visited .search-result__title { color: #609; }

/* Apply text-decoration when search-result link is hovered. */
.search-result__link:hover .search-result__title { text-decoration: underline; }

.search-result__description {
    color: #5F666D;
    line-height: 1.6;
}

/**
 * VIDEO RESULTS
 */

.videos-container {
    /* Display each video in separate row. */
    display: flex;
    /* Positioned ancestor for box surrounding arrow image. */
    position: relative;
}

.video {
    border: .1rem solid #DEE2E6;
    border-radius: 1rem;
    flex: 1;
    /* Prevent video thumbnail images from being larger than box. */
    overflow: hidden;
}

.video + .video { margin-left: .75rem; }

.video__thumbnail {
    background-position: center;
    background-repeat: no-repeat;
    /* Don't stretch image. */
    background-size: cover;
    height: 12rem;
    /* Positioned ancestor for video length element. */
    position: relative;
}

/* stylelint-disable declaration-colon-newline-after */

.video__thumbnail--1 {
    background-image: url("http://i3.ytimg.com/vi/YWA-xbsJrVg/maxresdefault.jpg");
}

.video__thumbnail--2 {
    background-image: url("http://i3.ytimg.com/vi/l3mUE6qj2Qg/maxresdefault.jpg");
}

.video__thumbnail--3 {
    background-image: url("http://i3.ytimg.com/vi/jHPr-CuvHhs/maxresdefault.jpg");
}

/* stylelint-enable declaration-colon-newline-after */

.video__length {
    background-color: rgba(0, 0, 0, .5);
    border-radius: .2rem;
    color: #FFF;
    font-size: 1.2rem;
    padding: .25rem .4rem;
    /* Positioned relative to thumbnail. */
    position: absolute;
    left: 1rem;
    bottom: .75rem;
}

.video__title {
    display: block;
    font-size: 1.6rem;
    /* Fixed height forces each title to have identical space below. */
    height: 13rem;
    padding: 1.75rem 1.75rem 0;
    line-height: 1.4;
}

/* Apply text-decoration when video link/image is hovered. */
.video__link:hover .video__title { text-decoration: underline; }

.video__info {
    color: #878F97;
    /* Space between video info and title. */
    margin-top: 1rem;
    padding-bottom: 1.25rem;
    padding-left: 1.75rem;
}

.video__author {
    display: block;
    /* Space between video author/channel name and statistics. */
    margin-bottom: .6rem;
}

.video__website {
    color: #000;
    /* Remove user-agent default italic style for cite element. */
    font-style: normal;
}

/**
 * IMAGE RESULTS
 */

.keywords {
    margin-bottom: 1rem;
    position: relative;
}

.keywords__list { list-style: none; }

.keywords__item {
    display: inline-block;
    font-size: 1.3rem;
}

.keywords__item + .keywords__item { margin-left: .25rem; }

.keywords__link:link {
    border: .1rem solid #DEE2E6;
    border-radius: 3rem;
    color: #1F1F1F;
    display: inline-block;
    padding: 1rem .9rem;
}

.keywords__link:hover {
    background-color: #F9F9F9;
    color: #000;
}

.keywords__link:focus { border: .1rem solid #5F666D; }

.keyword-arrow-box {
    position: absolute;
    right: -1rem;
    width: 3%;
}

.keyword-arrow {
    display: block;
    /* Filter converts image colour to #878F97. */
    filter:
        invert(61%)
        sepia(13%)
        saturate(243%)
        hue-rotate(169deg)
        brightness(90%)
        contrast(86%);
    width: 100%;
}

.image-results__pictures {
    display: flex;
    margin-bottom: 1rem;
    position: relative;
}

.image-results__pic {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: .1rem solid #DEE2E6;
    border-radius: .5rem;
    height: 13rem;
}

.image-results__pic + .image-results__pic { margin-left: 1rem; }

.image-results__pic--1 {
    background-image: url("../images/google-image-1.jpg");
    width: 15rem;
}

.image-results__pic--2 {
    background-image: url("../images/google-image-2.jpg");
    width: 24.5rem;
}

.image-results__pic--3 {
    background-image: url("../images/google-image-3.jpg");
    width: 23.5rem;
}

.image-results__pic--4 {
    background-image: url("../images/google-image-4.jpg");
    width: 25rem;
}

.image-results__options {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.image-results__secondary-link::before {
    content: url("../images/fancy-arrow.svg");
    display: inline-block;
    /* Filter converts image's colour to #1A0DAB. */
    filter:
        invert(11%)
        sepia(95%)
        saturate(5795%)
        hue-rotate(250deg)
        brightness(65%)
        contrast(115%);
    position: absolute;
    left: 0;
    top: -.2rem;
    width: 2rem;
}

.image-results__secondary-link:link {
    font-size: 1.5rem;
    padding-left: 3rem;
    position: relative;
}

.image-results__report {
    color: #878F97;
    font-size: 1.3rem;
}

.image-results__report:hover { color: #000; }

/**
 * EXTRA SEARCHES
 */

.extra-searches { margin-bottom: 3rem; }

.extra-searches__heading { margin-bottom: 2.5rem; }

.extra-searches__list {
    font-size: 1.6rem;
    list-style: none;
}

.extra-searches__link::before {
    content: url("../images/search-icon.svg");
    display: inline-block;
    /* Filter converts image's colour to #1A0DAB. */
    filter:
        invert(11%)
        sepia(95%)
        saturate(5795%)
        hue-rotate(250deg)
        brightness(65%)
        contrast(115%);
    position: absolute;
    left: 0;
    width: 2rem;
}

.extra-searches__link {
    display: inline-block;
    padding: 0 0 1.25rem 3.25rem;
    position: relative;
}

/**
 * LOGO PAGE NAVIGATION
 */

.logo-nav {
    font-size: 1.4rem;
    /* Height of container bigger than table's height: 5.6rem */
    height: 6rem;
    position: relative;
}

.logo-nav__table {
    /* Remove space between data cells in table. */
    border-collapse: collapse;
    /* Horizontally center table. */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.logo-nav__cell {
    color: #4285F4;
    text-align: center;
    padding: 0;
}

/* First page (1) is black. */
.logo-nav__cell:nth-child(2) { color: #000; }

.logo-nav__letter {
    background: url("../images/nav_logo299.png") no-repeat;
    display: block;
    height: 4rem;
    /* Hide unwanted parts of image. */
    overflow: hidden;
    width: 2rem;
}

.logo-nav__letter--1 {
    /* x-offset based on position of letter in image. */
    background-position: -2.4rem 0;
    width: 2.8rem;
}

.logo-nav__letter--2 { background-position: -5.3rem 0; }
.logo-nav__letter--3 { background-position: -7.4rem 0; }

.logo-nav__letter--4 {
    background-position: -9.6rem 0;
    width: 7.1rem;
}

.next-page {
    display: block;
    margin-left: 5.3rem;
}

/**
 * FOOTER
 */

.footer {
    background-color: #EFEFEF;
    color: #5D666F;
    font-size: 1.4rem;
    width: 100%;
}

.footer__link:link,
.footer__link:visited {
    color: inherit;
    text-decoration: none;
}

.footer__link:hover { color: #000; }

.location {
    border: .1rem solid #E0E0E0;
    padding: 1.2rem 0 1.2rem 18rem;
}

.location__country {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.location__address {
    border-left: .15rem solid #DEE2E6;
    color: #000;
    padding: .5rem 0 .5rem 1.75rem;
}

.location__address::before {
    background-color: #9E9E9E;
    border-radius: 2rem;
    content: "";
    display: inline-block;
    height: 1rem;
    margin-right: .5rem;
    width: 1rem;
}

.extra-options { padding: 1.2rem 0 1.2rem 18rem; }
.extra-options__link { padding-left: 2.2rem; }
